*,
body,
html {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
* h1,
body h1,
html h1,
* h2,
body h2,
html h2,
* h3,
body h3,
html h3,
* h4,
body h4,
html h4,
* h5,
body h5,
html h5,
* h6,
body h6,
html h6 {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
* p,
body p,
html p,
* a,
body a,
html a {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
div.appstore-button {
  width: 200px;
  background-color: #2d6da5;
}
div.appstore-button span {
  margin-left: 20px;
}
div.appstore-button strong {
  margin-left: 55px;
}
#appstore-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
section#info {
  background-color: #2d6da5;
  background: url(../images/apache.jpg) no-repeat scroll center top / cover rgba(0, 0, 0, 0);
}
section#team a:link,
section#mail a:link,
footer#footer a:link {
  color: #2d6da5;
  text-decoration: none;
}
section#team a:visited,
section#mail a:visited,
footer#footer a:visited {
  color: #2d6da5;
}
section#team a:hover,
section#mail a:hover,
footer#footer a:hover {
  text-decoration: underline;
}
div.license-container div.license {
  margin: 1em 0 1em 0;
}
@media screen and (max-width: 480px) {
  div.appstore-button span {
    margin-left: 10px;
  }
}
