*,
body,
html {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
* h1,
body h1,
html h1,
* h2,
body h2,
html h2,
* h3,
body h3,
html h3,
* h4,
body h4,
html h4,
* h5,
body h5,
html h5,
* h6,
body h6,
html h6 {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
* p,
body p,
html p,
* a,
body a,
html a {
  font-family: "Open Sans", Arial, Helvetica, "Microsoft JhengHei", "Apple LiGothic Medium", sans-serif;
}
a:link,
a:visited {
  color: #2D6DA5;
}
a:hover {
  text-decoration: underline;
}
div.appstore-button {
  width: 200px;
  background-color: #2d6da5;
}
div.appstore-button span {
  margin-left: 20px;
}
div.appstore-button strong {
  margin-left: 55px;
}
#appstore-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
section#info {
  background-color: #2d6da5;
  background: url(../images/apache.jpg) no-repeat scroll center top / cover rgba(0, 0, 0, 0);
}
section#team a:link,
section#mail a:link,
footer#footer a:link {
  color: #2d6da5;
  text-decoration: none;
}
section#team a:visited,
section#mail a:visited,
footer#footer a:visited {
  color: #2d6da5;
}
section#team a:hover,
section#mail a:hover,
footer#footer a:hover {
  text-decoration: underline;
}
div.license-container div.license {
  margin: 1em 0 1em 0;
  word-wrap: break-word;
}
ul.bxslider.appslider img {
  width: 270px;
}
div.fb_edge_widget_with_comment {
  top: 20px;
}
#mail .email-text,
#mail-vertical .email-text {
  margin: 12px 0 36px 0;
}
#info div.android-image div.slider-app {
  overflow-x: hidden;
  left: 13px;
}
#info div.android-image div.slider-app .appslider {
  display: block;
  margin: 0;
  position: relative;
  width: 9999px;
}
#info div.android-image div.slider-app .appslider li {
  display: inline-block;
  float: left;
  position: relative;
  transition-property: left;
  transition-duration: .5s;
  width: 270px;
  height: 480px;
  text-align: center;
}
#info div.android-image div.slider-app .appslider li img {
  width: 270px;
  height: 480px;
  margin: 0 auto;
  vertical-align: middle;
}
div#info-navigator {
  bottom: -50px;
  height: 15px;
  position: relative;
  width: 295px;
  text-align: center;
}
div#info-navigator div.phone-button-container {
  display: inline-block;
}
div#info-navigator div.phone-button-container a,
div#info-navigator div.phone-button-container a:link,
div#info-navigator div.phone-button-container a:visited {
  background: none repeat scroll 0 0 #666666;
  border-radius: 5px;
  display: block;
  height: 10px;
  margin: 0 5px;
  outline: 0 none;
  text-indent: -9999px;
  width: 10px;
}
div#info-navigator div.phone-button-container a:hover,
div#info-navigator div.phone-button-container a:link:hover,
div#info-navigator div.phone-button-container a:visited:hover {
  background: none repeat scroll 0 0 #000000;
}
div#info-navigator div.phone-button-container a:active,
div#info-navigator div.phone-button-container a:link:active,
div#info-navigator div.phone-button-container a:visited:active {
  background: none repeat scroll 0 0 #000000;
}
div#info-navigator div.phone-button-container a.choose,
div#info-navigator div.phone-button-container a:link.choose,
div#info-navigator div.phone-button-container a:visited.choose {
  background: none repeat scroll 0 0 #000000;
}
div#info-navigator div.phone-button-container a.not-chosen,
div#info-navigator div.phone-button-container a:link.not-chosen,
div#info-navigator div.phone-button-container a:visited.not-chosen {
  background: none repeat scroll 0 0 #666666;
}
section#video {
  background: url('../images/mail-pattern.png') repeat-x scroll left top transparent;
}
section#video div.video-android {
  top: 0;
}
section#video div.video-android iframe {
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 480px) {
  div.appstore-button span {
    margin-left: 10px;
  }
  section#video div.video-android {
    top: -2px;
  }
  section#video div.video-android iframe {
    width: 240px;
    height: 135px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section#video div.video-android {
    top: -4px;
  }
  section#video div.video-android iframe {
    width: 320px;
    height: 180px;
  }
}
@media screen and (min-width: 767px) {
  section#team div.team-member,
  section#team div.four,
  section#team div.columns {
    width: 120px;
  }
  section#team div.team-member img,
  section#team div.four img,
  section#team div.columns img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 960px) {
  section#team div.team-member,
  section#team div.four,
  section#team div.columns {
    width: 170px;
  }
  section#team div.team-member img,
  section#team div.four img,
  section#team div.columns img {
    width: auto;
    height: auto;
  }
  section#video div.video-android {
    top: 5px;
  }
  section#video div.video-android iframe {
    width: 605px;
    height: 340px;
  }
}
