*, body, html{
	font-family: "Open Sans",Arial,Helvetica,"Microsoft JhengHei","Apple LiGothic Medium",sans-serif;
	h1, h2, h3, h4, h5, h6{
		font-family: "Open Sans",Arial,Helvetica,"Microsoft JhengHei","Apple LiGothic Medium",sans-serif;
	}
	p, a{
		font-family: "Open Sans",Arial,Helvetica,"Microsoft JhengHei","Apple LiGothic Medium",sans-serif;
	}
}
div.appstore-button{
	width: 200px;
	background-color: #2d6da5;
	span{
		margin-left: 20px;
	}
	strong{
		margin-left: 55px;
	}
}
#appstore-link{
	display: inline-block;
	width: 100%;
	height: 100%;
}
section#info{
	background-color: #2d6da5;
	background:url(../images/apache.jpg) no-repeat scroll center top / cover  rgba(0, 0, 0, 0);
}
section#team, section#mail, footer#footer{
	a:link{
		color:#2d6da5;
		text-decoration: none;
	}
	a:visited{
		color:#2d6da5;
	}
	a:hover{
		text-decoration: underline;
	}
}
div.license-container{
	//text-align: left;
	div.license{
		margin: 1em 0 1em 0;
	}
}
ul.bxslider.appslider{
	img{
		width: 270px;
	}
}
div.fb_edge_widget_with_comment{
    top: 7px;
    float:right;
}
#mail .email-text, #mail-vertical .email-text{
	margin: 12px 0;
        h3{
             //display: inline-block;
             //position: relative;
             //left: -7px;
             float: left;
        }
}
#info div.android-image div.slider-app{
	overflow-x: hidden;
	left:13px;
	.appslider{
		margin: 0;
		display: block;
	    margin: 0;
	    position: relative;
	    width: 9999px;
		li{
			display: inline-block;
	    	float: left;
	    	position: relative;
	    	transition-property: left; 
	    	transition-duration: .5s;
	    	width: 270px;
	    	height: 480px;
	    	text-align: center;
	    	img{
	    		width: 270px;
	    		height: 480px;
	    		margin: 0 auto;
	    		vertical-align: middle;
	    	}
		}
	}
}
div#info-navigator{
	bottom: -50px;
    height: 15px;
    position: relative;
    width: 295px;
    text-align: center;
    div.phone-button-container{
    	display: inline-block;
    	a, a:link, a:visited{
    		background: none repeat scroll 0 0 #666666;
    		border-radius: 5px;
		    display: block;
		    height: 10px;
		    margin: 0 5px;
		    outline: 0 none;
		    text-indent: -9999px;
		    width: 10px;
		    &:hover{
		    	background: none repeat scroll 0 0 #000000;
		    }
		    &:active{
		    	background: none repeat scroll 0 0 #000000;
		    }
		    &.choose{
		    	background: none repeat scroll 0 0 #000000;
		    }
		    &.not-chosen{
		    	background: none repeat scroll 0 0 #666666;
		    }
    	}
    }
}

@media screen and (max-width: 480px) {
    div.appstore-button span{
            margin-left: 10px;
    }

    
}
@media screen and (min-width: 480px) and (max-width: 768px) {
       
}
@media screen and (min-width: 480px) and (max-width: 960px) {

}