div.appstore-button {
  background-color: #2d6da5;
}
#appstore-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
section#info {
  background-color: #2d6da5;
  background: url(../images/apache.jpg) no-repeat scroll center top / cover rgba(0, 0, 0, 0);
}
